aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
anyio==4.14.2
attrs==26.1.0
audioop-lts==0.2.2
av==18.0.0
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
click==8.1.8
ctranslate2==4.8.1
edge-tts==7.2.8
faster-whisper==1.2.1
filelock==3.32.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.6.0
gTTS==2.5.4
h11==0.16.0
hf-xet==1.5.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.24.0
idna==3.18
joblib==1.5.3
multidict==6.7.1
narwhals==2.24.0
numpy==2.5.1
onnxruntime==1.27.0
openwakeword==0.4.0
packaging==26.2
propcache==0.5.2
protobuf==7.35.1
PyAudio==0.2.14
pycparser==3.0
python-vlc==3.0.21203
pyttsx3==2.99
PyYAML==6.0.3
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
setuptools==83.0.0
sounddevice==0.5.5
SpeechRecognition==3.17.0
standard-aifc==3.13.0
standard-chunk==3.13.0
tabulate==0.10.0
threadpoolctl==3.6.0
tokenizers==0.23.1
tqdm==4.69.1
typing_extensions==4.16.0
urllib3==2.7.0
yarl==1.24.5
